<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}" />
<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
<!-- Fonts and icons -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<!-- Nucleo Icons -->
<link th:href="@{/css/nucleo-icons.css}" rel="stylesheet" />
<link th:href="@{/css/nucleo-svg.css}" rel="stylesheet" />
<!-- Main Styling -->
<link th:href="@{/css/soft-ui-dashboard-tailwind.css?v=1.0.5}" rel="stylesheet" />